
/* Dice rolling animation */
.dice.rolling {
  animation: rollDice 1s infinite;
}

@keyframes rollDice {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    25% {
        transform: rotateX(180deg) rotateY(0deg);
    }
    50% {
        transform: rotateX(0deg) rotateY(180deg);
    }
    75% {
        transform: rotateX(180deg) rotateY(180deg);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}
